* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #d9dddc;
}
html,
body {
  width: 100%;
  height: 100%;
}
#nav {
  position: fixed;
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  z-index: 999;
}
.logo {
  position: relative;
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.logo a {
  text-decoration: none;
  font-weight: 500;
}
.logo a img {
  height: 12vh;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.logo:hover {
  transform: scale(1.2);
}

#box{
  width: auto;
  height: auto;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5vw;
}
.innerbox {
  width: auto;
  height: auto;
  padding-right: 2vw;
  
}
.innerbox a {
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
}
.innerbox a:hover {
  color: #00e6a7;
}
.menu{
  position: absolute;
  right: 0;
  width: 30%;
  height: 50%;
  z-index: -1;
}
.menu i{
  display: none;
  font-size: 7vw;
  text-align: center;
  padding-bottom: 2vh;
}
.inner_innerbox{
  text-align: center;
}
#menuList{
  opacity: 0;
}
.inner_innerbox a{
  text-transform:none;
  font-size: 3vw;
  text-decoration: none;
  line-height: 5vh;
}
#Home:hover{
  color:burlywood;
}
#About:hover{
  color:burlywood;
}
#Project:hover{
  color:burlywood;
}
#Contact:hover{
  color:burlywood;
}
#Background_img img {
  width: 100%;
  height: 100%;
  position: fixed;
  object-fit: cover;
  z-index: -1;
}
#main {
  position: relative;
  overflow: hidden;
}
#page1 {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #fff;
}
#page1 pre {
  position: relative;
  font-size: 3vw;
  margin-left: 40px;
  font-weight: 500;
}
#page1 img {
  width: 70%;
}
.span {
  color: #d9dddc;
  -webkit-text-stroke: 1px #cc4e04;
  font-weight: 700;
}
.span:hover {
  font-size: 1.3em;
}
#page2 {
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  gap: 1vw;
  border-bottom: 2px solid #fff;
  margin-top: 2vh;
}
#page2 img {
  max-width: 70vw;
  aspect-ratio: 1/1;
  padding-right: 2vw;
  padding-bottom: 2vh;
  float: left;
  border-radius: 50%;
}
.About_Me {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 5%;
  display: flex;
  flex-direction: column;
}
.About_Me p {
  font-size: 1.2rem;
  line-height: 1.8rem;
}
.About_Me h1 {
  font-size: 5vw;
  align-self: center;
  border-radius: 10%;
  margin-bottom: 5%;
  -webkit-text-stroke: 2px #cc4e04;
}
.About_Me h1:hover {
  animation: shake 5s infinite ease-in-out;
  background-color: #d9dddc;
  border: 2px solid #fff;
}
#More_about_me {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.skill {
  margin-top: 1vh;
  line-height: 1.5em;
  cursor: pointer;
}
.head1 h2::after{
  width: 0;
  content: " ";
  display: block;
  height: 3px;
  background: #ffc600;
  opacity: .7;
  margin: 10px 0;
  transition: ease 0.5s;
  
}
.head1 :hover::after {
  width: 30%;
}
.head2 h2::after{
  width: 0;
  content: " ";
  display: block;
  height: 3px;
  background: #ffc600;
  opacity: .7;
  margin: 10px 0;
  transition: ease 0.5s; 
}
.head2 :hover::after {
  width: 45%;
}
#listed_content1 {
  opacity: 1;
}
#listed_content1 li {
  list-style: none;
}
.education {
  margin-top: 1vh;
  line-height: 1.5em;
  cursor: pointer;
}
#listed_content2 {
  opacity: 0;
}
#listed_content2 li {
  list-style: none;
}
.head1 {
  -webkit-text-stroke: 2px #cc4e04;
}
.head2 {
  -webkit-text-stroke: 2px #cc4e04;
}
.subhead {
  color: #00e6a7;
}

#page3 {
  position: relative;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #fff;
}
#container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 100%;
}
.subtitle {
  display: flex;
  align-items: center;
  padding-top: 2%;
  width: 100%;
  height: 20%;
  -webkit-text-stroke: 2px #cc4e04;
  font-size: 5vw;
}
.project_list {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.card {
  width: 45%;
  height: 400px;
  border-radius: 5px;
  flex-wrap: wrap;
}
.one {
  display: grid;
  position: relative;
  text-align: center;
  border-radius: 10%;
  background-color: #454444;
  font-size: 1.6vw;
  text-wrap: wrap;
}
.one p {
  font-size: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.logo1 img {
  width: 7vw;
  aspect-ratio: 1/1;
}
.project_links a {
  text-decoration: none;
  padding: 2%;
  font-size: 0.8rem;
}
.project_links a:hover {
  color: #000;
}
.one:hover {
  cursor: pointer;
  transition: ease;
  transition-duration: 0.5s;
  border: 2px solid #f24d35;
}

.two {
  display: grid;
  position: relative;
  text-align: center;
  border-radius: 10%;
  background-color: #454444;
  font-size: 1.6vw;
}
.two p {
  font-size: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.two:hover {
  cursor: pointer;
  transition: ease;
  transition-duration: 0.5s;
  border: 2px solid #f24d35;
}
#footer {
  position: relative;
  bottom: -5%;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container1 {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: space-evenly;
}
.contact_detail {
  position: relative;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
}
.footer_icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  height: 10%;
}
.footer_icon p {
  font-size: 2vw;
}
.footer_icon img {
  width: 20%;
  aspect-ratio: 1/1;
}
.socials {
  width: 80%;
  height: 12%;
  display: flex;
}
.icons {
  margin: auto;
}
.icons a {
  text-decoration: none;
}
.icons a i {
  font-size: 4vmax;
  aspect-ratio: 1/1;
  cursor: pointer;
}
.reviews {
  width: 60%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputArea {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
}
.inputArea input {
  width: 100%;
  height: 10%;
  margin-top: 4vh;
  background-color: #454444;
  border: 0.5px solid #fff;
}
.inputArea textarea {
  width: 100%;
  height: 50%;
  margin-top: 4vh;
  margin-bottom: 2vh;
  background-color: #454444;
  border: 0.5px solid #fff;
}
.btn {
  cursor: pointer;
  width: 20%;
  height: 10%;
  color: #fff;
  border-radius: 5%;
  background-color: #000;
  border: 0.5px solid #fff;
}
.btn:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  background-color: #bdb7ab;
  color: #48494b;
}

@media (max-width: 600px) {
  .innerbox{
    display: none;
  }
  .menu{
    z-index: 1;
  }
  .menu i{
    display: block;
    padding-right: 5vw;
  }
  #page1 {
    position: relative;
    height: 80vh;
    display: flex;
    flex-direction: column;
  }
  #page1 pre {
    width: 100%;
    font-size: 4.2vw;
    display: flex;
    top: 40%;
    width: 100%;
    margin: 0;
    padding-left: 1vw;
    text-align: center;
  }
  #page1 img {
    align-self: center;
    width: 80%;
    aspect-ratio: 1/0.8;
  }

  #page2 img {
    align-self: center;
  }
  #page2 p {
    display: flex;
    flex-direction: column;
  }
  .About_Me h1{
    -webkit-text-stroke: 0;
    color:burlywood;
  }
  .project_list {
    width: 95%;
    height: 90vh;
    display: flex;
    flex-direction: column;
  }
  .card {
    width: 70%;
    height: 50%;
    border-radius: 20px;
    margin-top: 3vh;
  }
  .subtitle{
    -webkit-text-stroke: 0;
    color:burlywood;
  }
  #container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .contact_detail {
    position: relative;
    width: 90%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 0;
  }
  .contact_detail h1 {
    -webkit-text-stroke: 0;
  }
  .reviews {
    width: 90%;
    height: 90%;
  }
  .inputArea {
    border: none;
    width: 100%;
  }
  .socials {
    width: 45%;
    height: 25%;
    display: flex;
    justify-content: start;
  }
  .icons a i {
    font-size: 3vmax;
    aspect-ratio: 1/1;
    cursor: pointer;
  }
}
